
body { font-family: Arial; margin:0; background:#f2f2f2; }
header, footer { background:#003366; color:white; padding:15px; text-align:center; }
section { padding:20px; }
a { color:#003366; font-weight:bold; }
